*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #111015;
    background-image: url('asset/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.logo-tile {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.logo {
    width: 64px;
}

.name {
    color: white;
    font-size: 48px;
}

.description {
    color: white;
    font-size: 24px;
    width: 580px;
    margin-bottom: 40px;
}

.screenshots {
    display: flex;
    margin-left: 200px;
}

.creed {
    width: 290px;
    height: 643px;
    border-radius: 12px;
    background-image: url('asset/creed.png');
    background-size: cover;
}

.chainsaw {
    width: 290px;
    height: 643px;
    border-radius: 12px;
    background-size: cover;
    background-image: url('asset/chainsaw.png');
    position: relative;
    top: 100px;
    right: 150px;
}

.download {
    text-decoration: none;
    color: #AFAFAF;
    font-size: 32px;
    background-color: rgba(156, 156, 156, 0.1);
    padding: 6px 20px;
    border-radius: 8px;
}