body{
    background-size: cover;
   /* background-image: url(../background.jpg);*/
   /* overflow-y: hidden;
    overflow-x: hidden;*/
    background-color: rgba(5, 4, 4, 0.942);
}

h1{
    font-size: 2cm;
    position:relative;
    padding-left: 50px;
    padding-top:85px;
    font-style: italic;
    color: white;
    
    

}
h2{
    font-size: 0.48cm;
    position: relative;
    bottom:500px;
    padding-left: 20px;
    color: white;
}
footer{
    font-size: 0.6cm;
    display: inline-flex;
    border-style: hidden;
    border-radius: 4px;
    background-color: rgb(44, 42, 42);
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    color: white;
    position: relative;
    left: 100px;
    bottom: 480px;
    
    
}
div{
    position: relative;
    left:1000px;
}
.one{
    position: relative;
    bottom:280px;
    width:54cm;
    border-style: hidden;
    border-radius: 10px;
    
    
    
}
.two{
    position: absolute;
    bottom: 20px;
    right:20px;
    width:52cm;
    border-style: hidden;
    border-radius: 10px;
    
    
}

